{% extends 'base.html.twig' %}

{% block content %}
  <h1>Change password</h1>

  <div class="row">
    <div class="col-md-4">
      <form id="form-change-password">
        <div class="form-group">
          <label for="field-new-password">New password</label>
          <input type="password" id="field-new-password" class="form-control">
        </div>
        <div class="mt-4" id="message-container"></div>
        <div class="form-group mt-4">
          <button class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>

  <script>
    const form = document.getElementById('form-change-password');
    const fieldNewPassword = document.getElementById('field-new-password');
    const messageContainer = document.getElementById('message-container');

    form.addEventListener('submit', function (e) {
      e.preventDefault();

      const newPassword = fieldNewPassword.value;

      messageContainer.classList.add('d-none');

      fetch('{{ path('app.api.user.change_password') }}', {
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        method: 'POST',
        body: JSON.stringify({newPassword})
      })
        .then((resp) => {
          messageContainer.classList.remove('d-none');

          if (resp.status === 200) {
            messageContainer.classList.remove('text-danger');
            messageContainer.classList.add('text-success');
            messageContainer.innerHTML = 'Password has been changed!';
          } else {
            messageContainer.classList.add('text-danger');
            messageContainer.classList.remove('text-success');
            messageContainer.innerHTML = 'An error happened, please try again later!';
          }
        });
    });
  </script>
{% endblock%}
