{% extends 'base.html.twig' %}

{% block content %}
  <h1>Profile</h1>

  <img src="{{ user.avatarUrl }}" alt="user's avatar">
  <p>Name: {{ user.displayName }}</p>
  <p>Email: {{ user.email }}</p>
{% endblock %}
